<%- include('../admin-partials/header'); -%>


            <!-- PAGE INNER
            ================================================== -->
            <div class="page-inner">

                <!-- PAGE MAIN WRAPPER
                ================================================== -->
                <div id="main-wrapper">

                
                    <!-- end row -->

                    <!-- row -->
                    <div class="row">
                        <div class="col-md-12 grid-margin">
                            <div class="card card-white">
                                <div class="card-heading clearfix">
                                    <h4 class="card-title">Add your category description</h4>
                                </div>
                                <div class="card-body">
                                    <form class="forom">

                                        <div class="form-group mb-4">
                                            <label for="exampleFormControlSelect1">Category Name</label>
                                            <input type="text" class="form-control" name="Category" id="exampleInput1" aria-describedby="exampleInput1" />
                                            <div  style="color: red; font-weight: bold;" class="Category error"></div>
                                        </input>
                                        <div class="row mt-2">
                                            <div class="form-group col-6" >
                                                <label for="exampleFormControlTextarea1">Discription</label>
                                                <input type="text" class="form-control" name="Discription" id="exampleInput1" aria-describedby="exampleInput1" />
                                                <div style="color: red; font-weight: bold; " class="Discription error"></div>
                                            </div>
                                            <div class="form-group col-6">
                                                <label for="exampleFormControlTextarea1">Brand name</label>
                                                <input type="text" class="form-control" name="brands" id="exampleInput1" aria-describedby="exampleInput1" />
                                                <div style="color: red; font-weight: bold; " class="brands error"></div>
                                            </div>
                                        </div>
                    

                                        </div>
                                        <div>
                                            <button type="submit" class="btn btn-primary">Creat Category</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- end row -->
                </div>

                <div class="page-footer">
                    <p>Copyright &copy; <span class="current-year"></span> Ekka All rights reserved.</p>
                </div>
            </div>

            <!-- PAGE MAIN RIGHT SIDEBAR
            ================================================== -->
           

            <!-- PAGE CHAT RIGHT SIDEBAR
            ================================================== -->
            

        </div>

    </div>

    <script>
        const forom = document.querySelector('.forom')
            const DiscriptionError = document.querySelector('.Discription.error')
            const CategoryError = document.querySelector('.Category.error')
            const brandsError = document.querySelector('.brands.error')

            
        
            forom.addEventListener('submit',async (e)=>{
                e.preventDefault();
        
                //reset to be blank
                DiscriptionError.textContent = ''
                CategoryError.textContent = ''
                brandsError.textContent = ''
        
                //gettin the values from the form\
                const Discription =  forom.Discription.value
                const Category =  forom.Category.value
                const brands =  forom.brands.value

        
                //making a post request throgh fetch method
                try{
                    const reslt = await fetch('/creat_category',{
                        method:'POST',
                        body: JSON.stringify({Discription,Category,brands}),
                        headers:{'Content-Type':'application/json'}
                    },)
                    const data = await reslt.json()
                    if(data.errors){
                        DiscriptionError.textContent = data.errors.Discription;
                        CategoryError.textContent = data.errors.Category;
                        brandsError.textContent = data.errors.brands
                    }
                    if(data.Category){
                        location.assign('/admin/category')
                    }
                }
                catch(err){
                    console.log(err)
                }
            })
        
        </script>    


</body>

<%- include('../admin-partials/footer'); -%>
