<%- include('../admin-partials/header'); -%>


<div class="page-inner">

    <!-- PAGE MAIN WRAPPER
    ================================================== -->
    <div id="main-wrapper">
        <!-- row -->
        <div class="row">
            <div class="col-md-12 grid-margin">
                <div class="card card-white">
                    <div class="card-heading clearfix">
                        <h4 class="card-title">COUPON</h4>
                    </div>
                    <div class="card-body">
                        <form id="coupon">
                            
                            <div class="form-group">
                                <label for="exampleInput1">Coupan Title</label>
                                <input type="text" name="couponTitle" placeholder="NAME" required class="form-control" id="exampleInput1">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput2">Coupan Code</label>
                                <input type="text" name="couponCode" placeholder="COUPON CODE" required class="form-control" id="exampleInput2">
                            </div>
                            <div class="form-group">
                                <label>Start Date</label>
                                <input type="date" name="startDate" required class="form-control date-picker">
                            </div>
                            <div class="form-group">
                                <label>End Date</label>
                                <input type="date" name="endDate" required class="form-control date-picker">
                            </div>
                            <!-- <div class="custom-control custom-checkbox my-4">
                                <input class="form-check-input" type="checkbox" value="" id="flexCheckChecked">
                                <label class="form-check-label" for="flexCheckChecked">
                                    Allow Free Shipping
                                </label>
                            </div> -->
                            <div class="form-group">
                                <label for="exampleInput3">Quantity</label>
                                <input type="number" name="couponQuantity" placeholder="quantity" required class="form-control" id="exampleInput3">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom02">Discount Type</label>
                                <select class="form-select form-control" id="validationCustom02" name="couponType" required aria-label="Default select example">
                                    <option  selected>Select Discount Type</option>
                                    <option value="percent" >Percent</option>
                                    <option value="fixed">Fixed</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInput3">Discount</label>
                                <input type="number" name="couponDiscount" placeholder="Discount" required class="form-control" id="exampleInput3">
                            </div>
                           <div class="custom-control custom-checkbox mt-4">
                                <button type="submit" class="btn btn-outline-secondary">Create Coupon </button>
                               
                           </div> 
                           <div class="custom-control custom-checkbox mt-4">
                            <label for="">Active</label>
                            <input class="form-check-input" required type="radio" name="status" id="radioMale" value="true">
                            <label for="">Disable</label>
                            <input class="form-check-input" required type="radio" name="status" id="radioFemale" value="false">

                            </div> 
                        </form>
                      
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

        <!-- row -->
        <!-- <div class="row">
            <div class="col-md-6 grid-margin">
                <div class="card card-white h-100">
                    <div class="card-heading clearfix">
                        <h4 class="card-title">Restriction</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInput4">Products</label>
                                <input type="text" class="form-control" id="exampleInput4">
                            </div>
                            <div class="form-group">
                                <label for="validationCustom03">Category</label>
                                <select class="form-select form-control" id="validationCustom03" aria-label="Default select example">
                                    <option selected>--Select--</option>
                                    <option value="1">Electronics</option>
                                    <option value="2">Clothes</option>
                                    <option value="3">Shoes</option>
                                    <option value="4">Digital</option>
                                    <option value="5">Furniture</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="exampleInput5">Minimum Spend</label>
                                <input type="number" class="form-control" id="exampleInput5">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput6">Maximum Spend</label>
                                <input type="number" class="form-control" id="exampleInput6">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-6 grid-margin">
                <div class="card card-white h-100">
                    <div class="card-heading clearfix">
                        <h4 class="card-title">Usage Limits</h4>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="form-group">
                                <label for="exampleInput7">Per Limit</label>
                                <input type="number" class="form-control" id="exampleInput7">
                            </div>
                            <div class="form-group">
                                <label for="exampleInput8">Per Customer</label>
                                <input type="number" class="form-control" id="exampleInput8">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div> -->
        <!-- end row -->
    </div>

    <div class="page-footer">
        <p>Copyright &copy; <span class="current-year"></span> Ekka All rights reserved.</p>
    </div>
</div>


<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

<script>
    document.getElementById("coupon").addEventListener('submit',(e)=>{
        e.preventDefault();
        let formData = new FormData(e.target)
        let data = Object.fromEntries(formData)

        axios.post('/createCoupon',{
        data,
        }).then((response)=>{
        if(response.status){
            Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'coupon created',
            showConfirmButton: false,
            timer: 1500
            }).then((result)=>{
                e.target.reset()
            // window.location.reload()
            })
           
        }else{
            Swal.fire({
                icon: 'error',
                title: 'Oops...',
                text: 'Coupon name exists try another one!',
                // footer: '<a href="">Why do I have this issue?</a>'
            })
        }
        })  
    })

    console.log("user up to here")
    document.getElementById


    
</script>




<%- include('../admin-partials/footer'); -%>