<div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">
    <div class="account-pannel">
        <div class="p-4">

            <div class="text-center">
                <div class="pb-3">
                    <img class="img-fluid rounded-circle img-thumbnail" src="/admin/img/avatars/chat01.jpg" alt="...">
                </div>
                <h6 class="mb-0 display-28"><%=user.name%></h6>
                <small>Joined February 06, 2017</small>
                <div class="reward-points">
                    <i class="ti-star text-primary pe-1"></i> Points: 7386
                </div>
            </div>
        </div>

        <div class="list-group">
            <a class="list-group-items" href="/orders"><i class="ti-bag pe-2"></i>Orders<span class="badge badge-pill">6</span></a>
            <a class="list-group-items active" href="/profile"><i class="ti-user pe-2"></i>Profile</a>
            <a class="list-group-items" href="/address"><i class="ti-location-pin pe-2"></i>Addresses</a>
            <a class="list-group-items" href="/wishlist"><i class="ti-heart pe-2"></i>Wishlist<span class="badge badge-pill">3</span></a>
            <!-- <a class="list-group-items" href="account-tickets.html"><i class="ti-tag pe-2"></i>My Tickets<span class="badge badge-pill">4</span></a> -->
        </div>

    </div>

</div>