<%- include('../partials/header'); -%>
 
 <!-- PAGE TITLE
        ================================================== -->


            <section class="pt-5 page-title-section bg-img cover-background" data-background="/public/img/offer-banner.jpg" background-image: url("img/bg/page-title.jpg")>
                <div class="container my-auto">
    
                    <div class="title-info">
                        <h1>Success!</h1></div>
                    <div class="breadcrumbs-info">
                        <ul class="ps-0">
                            <li><a href="/">Home</a></li>
                            <li><a href="#">Success!</a></li>
                        </ul>
                    </div>
    
                </div>
            </section>

        
        <!-- CHECKOUT COMPLETE
        ================================================== -->
        <section class="md pt-5 pb-5">
            <div class="container">
                <div class="p-5 row justify-content-center">
                    <div class="col-lg-8">

                        <div class="common-block text-center">

                            <div class="inner-title" style="border-bottom: 1px solid;;">
                                <h1 style="color: gray;"  class=" mb-4"> Thank you for your order!</h1>
                            </div>

                            <p class="lead mb-4 mt-3">
                                <!-- Thank you for your payment. An automated payment receipt will be sent to your registered email. -->
                                Thank you for the order. An automated invoice will be sent to your email after the Delivery
                            </p>
                            <button style="border-radius: 4px;" type="button" ><a style="color: white;" href="/trackOrder" class="butn-style2 wide m-1">Track your Order</a></button>
                            <button style="border-radius: 4px;" type="button" ><a style="color: white;" href="/" class="butn-style2 wide m-1">Back to home</a></button>


                        </div>
                    </div>
                </div>
            </div>
        </section>

<%- include('../partials/footer'); -%>