<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c6164394bf.js" crossorigin="anonymous"></script>
  <link rel="icon" href="/assets/images/favicon/favicon-5.png" sizes="32x32" />
  <title>Ekka - Ecommerce</title>
  <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
  <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
  <meta name="author" content="ashishmaraviya">
  <!-- <link rel="stylesheet" href="/styles.css"> -->
  <style>
    body {
    color: #000;
    overflow-x: hidden;
    height: 100%;
    background-color: #f6f0e0;
    background-repeat: no-repeat;
}

.card0 {
    box-shadow: 0px 4px 8px 0px #f6f0e0;
    border-radius: 0px;
}

.card2 {
    margin: 0px 40px;
}

.logo {
    width: 200px;
    height: 100px;
    margin-top: 20px;
    margin-left: 35px;
}

.image {
    width: 360px;
    height: 280px;
}

.border-line {
    border-right: 1px solid #EEEEEE;
}

.facebook {
    background-color: #3b5998;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.twitter {
    background-color: #1DA1F2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.linkedin {
    background-color: #2867B2;
    color: #fff;
    font-size: 18px;
    padding-top: 5px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.line {
    height: 1px;
    width: 45%;
    background-color: #E0E0E0;
    margin-top: 10px;
}

.or {
    width: 10%;
    font-weight: bold;
}

.text-sm {
    font-size: 14px !important;
}

::placeholder {
    color: #BDBDBD;
    opacity: 1;
    font-weight: 300
}

:-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

::-ms-input-placeholder {
    color: #BDBDBD;
    font-weight: 300
}

input, textarea {
    padding: 10px 12px 10px 12px;
    border: 1px solid lightgrey;
    border-radius: 2px;
    margin-bottom: 5px;
    margin-top: 2px;
    width: 100%;
    box-sizing: border-box;
    color: #2C3E50;
    font-size: 14px;
    letter-spacing: 1px;
}

input:focus, textarea:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid #304FFE;
    outline-width: 0;
}

button:focus {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline-width: 0;
}

a {
    color: inherit;
    cursor: pointer;
}

.btn-blue {
    background-color: #1A237E;
    width: 150px;
    color: #fff;
    border-radius: 2px;
}

.btn-blue:hover {
    background-color: #000;
    cursor: pointer;
}

.bg-blue {
    color: #fff;
    background-color: #1A237E;
}

@media screen and (max-width: 991px) {
    .logo {
        margin-left: 0px;
    }

    .image {
        width: 300px;
        height: 220px;
    }

    .border-line {
        border-right: none;
    }

    .card2 {
        border-top: 1px solid #EEEEEE !important;
        margin: 0px 15px;
    }
}
  </style>
</head>
<body>
  <!-- <nav>
    <img src="/assets/images/logo/logo-5.png" alt="">
    <ul>
      <li><a style="color:#fff;" href="/verify" class="btn">signup</a></li>
    </ul>
  </nav>
<form >
    <h2>log in</h2>
    <label for="email">email</label>
    <input type="text" name="email" required>
    <div class="email error"></div>
    <label for="password">password</label>
    <input type="password" name="password" required>
    <div class="password error"></div>
    <button style="color:#fff;">log in</button>
</form>-->

<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto ">
  <div  style="margin-top: 4rem; margin-bottom: 7rem;" class="card card0 border-0">
      <div class="row d-flex " style="padding-top: 2rem;">
          <div class="col-lg-6">
              <div class="card1 pb-0">
                  <div class="row">
                      <!-- <img src="" class="logo"> -->
                      <img class="pl-4 pb-4"  src="/assets/images/logo/logo-5.png" alt="">
                  </div>
                  <div class="row px-3 justify-content-center mt-4  border-line">
                      <img src="/assets/images/email-template/forgot-email-6.png" class="image">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <div class="pt-5">
                <div class="card2 card border-0 px-4 py-5">
              
                  <form id="change">
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">Mobile</h6></label>
                        <input class="mb-4" type="text" name="mobile" placeholder="Enter a valid email address">
                        <div class="email error"></div>
                        
                    </div>
                    <div class="row px-3">
                      <label class="mb-1"><h6 class="mb-0 text-sm">New Password</h6></label>
                      <input class="mb-4" type="password" name="password" placeholder="Enter a valid  valid">
                      <div class="password error"></div>
                      
                  </div>
                    <div class="row px-3">
                        <label class="mb-1"><h6 class="mb-0 text-sm">confirm password</h6></label>
                        <input type="password" name="newpassword" placeholder="Enter password">
                        <div style="color: red;" class="password errors"></div>
  
                    </div>
             
                 
                  <div class="row mb-3 pt-3 px-3">
                      <a href="/"><button type="submit" class="btn btn-blue text-center">Home </button></a>
                      <button type="submit" class="btn btn-blue text-center">Change </button>
                  </div>
                </form>
                  <!-- <div class="row mb-4 px-3">
                      <small class="font-weight-bold">are you sure? <a href="/forgotPassword" class="text-danger ">Change Password</a></small>
                  </div> -->
              </div>
            </div>
          </div>
      </div>
      <div  class="bg-blue py-4">
          <div class="row px-3">
              <div class="social-contact ml-4 ml-sm-auto">
                  <span class="fa fa-facebook mr-4 text-sm"></span>
                  <span class="fa fa-google-plus mr-4 text-sm"></span>
                  <span class="fa fa-linkedin mr-4 text-sm"></span>
                  <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
              </div>
          </div>
      </div>
  </div>
</div>



<script>

    document.getElementById('change').addEventListener('submit',(e)=>{
        e.preventDefault()
        console.log("why is the rain")

        let formData = new FormData(e.target)
        let data = Object.fromEntries(formData)

        if(!data.password == data.newpassword ){
            console.log("confirem password error")
        }else{
            axios.post('/change',{
        data,
        }).then((response)=>{
        if(response.status){
            Swal.fire({
            position: 'top-end',
            icon: 'success',
            title: 'added to cart',
            showConfirmButton: false,
            timer: 1500
            })
            e.target.reset()
            // window.location.reload()
        }
        })  
        console.log(data)
        }
       
    })

  
    


//   const form = document.querySelector('form')
//       const emailError = document.querySelector('.email.error')
//       const passwordError = document.querySelector('.password.error')
      
  
//       form.addEventListener('submit',async (e)=>{
//           e.preventDefault();
  
//           //reset to be blank
//           emailError.textContent = ''
//           passwordError.textContent = ''
  
//           //gettin the values from the form\
//           const email = form.email.value
//           const password =  form.password.value
  
//           //making a post request throgh fetch method
//           try{
//               const reslt = await fetch('/',{
//                   method:'POST',
//                   body: JSON.stringify({email,password}),
//                   headers:{'Content-Type':'application/json'}
//               },)
//               const data = await reslt.json()
//               if(data.errors){
//                   emailError.textContent = data.errors.email;
//                   passwordError.textContent = data.errors.password;
//               }
//               if(data.user){
//                   location.assign('/')
//               }
//           }
//           catch(err){
//               console.log(err)
//           }
//       })
  
  </script>





</body>
</html>



