<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon/favicon-5.png" sizes="32x32" />
  <title>Ekka</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <nav>
    <!-- <h1><a href="/">LOGIN PAGE</a></h1> -->
    <img src="/assets/images/logo/logo-5.png" alt="">
    <ul>
      <li><a style="color:#fff;" href="" class="btn">signup</a></li>
    </ul>
  </nav>
<form method="post" action="/verify" >
    <h2>verify</h2> 
    <label for="mobile">phone</label>
    <input type="mobile" name="mobile" required >
    <div class="mobile error"></div>
    <button style="color:#fff;">verify</button>
</form>


<footer>Copyright 2023 Ekka</footer>
<!-- <script>
  if(message){
    Swal.fire({
    icon: 'error',
    title: 'Oops...',
    text: 'Something went wrong!',
    footer: '<a href="">Why do I have this issue?</a>'
  })
  }
  else{
    Swal.fire(
  'Good job!',
  'You clicked the button!',
  'success'
)
}
src="//cdn.jsdelivr.net/npm/sweetalert2@11"
</script> -->

</body>
</html>
