<html lang="en">
<head>
  <title>Ekka - Ecommerce</title>
  <meta name="keywords" content="apparel, catalog, clean, ecommerce, ecommerce HTML, electronics, fashion, html eCommerce, html store, minimal, multipurpose, multipurpose ecommerce, online store, responsive ecommerce template, shops" />
  <meta name="description" content="Best ecommerce html template for single and multi vendor store.">
  <meta name="author" content="ashishmaraviya">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" href="/assets/images/favicon/favicon-5.png" sizes="32x32" />
  <script src="https://kit.fontawesome.com/c6164394bf.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <!-- <title>Ekka Signup</title> -->
  <!-- <link rel="stylesheet" href="/styles.css"> -->
  <!-- <link rel="stylesheet" href="plugins.css">
  <link rel="stylesheet" href="profile.css"> -->
  



<style>
  body {
  color: #000;
  overflow-x: hidden;
  height: 100%;
  background-color: #f6f0e0;
  background-repeat: no-repeat;
}

.card0 {
  box-shadow: 0px 4px 8px 0px #f6f0e0;
  border-radius: 0px;
}

.card2 {
  margin: 0px 40px;
}

.logo {
  width: 200px;
  height: 100px;
  margin-top: 20px;
  margin-left: 35px;
}

.image {
  width: 360px;
  height: 280px;
}

.border-line {
  border-right: 1px solid #EEEEEE;
}

.facebook {
  background-color: #3b5998;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.twitter {
  background-color: #1DA1F2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.linkedin {
  background-color: #2867B2;
  color: #fff;
  font-size: 18px;
  padding-top: 5px;
  border-radius: 50%;
  width: 35px;
  height: 35px;
  cursor: pointer;
}

.line {
  height: 1px;
  width: 45%;
  background-color: #E0E0E0;
  margin-top: 10px;
}

.or {
  width: 10%;
  font-weight: bold;
}

.text-sm {
  font-size: 14px !important;
}

::placeholder {
  color: #BDBDBD;
  opacity: 1;
  font-weight: 300
}

:-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

::-ms-input-placeholder {
  color: #BDBDBD;
  font-weight: 300
}

input, textarea {
  padding: 10px 12px 10px 12px;
  border: 1px solid lightgrey;
  border-radius: 2px;
  margin-bottom: 5px;
  margin-top: 2px;
  width: 100%;
  box-sizing: border-box;
  color: #2C3E50;
  font-size: 14px;
  letter-spacing: 1px;
}

input:focus, textarea:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  border: 1px solid #304FFE;
  outline-width: 0;
}

button:focus {
  -moz-box-shadow: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline-width: 0;
}

a {
  color: inherit;
  cursor: pointer;
}

.btn-blue {
  background-color: #1A237E;
  width: 150px;
  color: #fff;
  border-radius: 2px;
}

.btn-blue:hover {
  background-color: #000;
  cursor: pointer;
}

.bg-blue {
  color: #fff;
  background-color: #1A237E;
}

@media screen and (max-width: 991px) {
  .logo {
      margin-left: 0px;
  }

  .image {
      width: 300px;
      height: 220px;
  }

  .border-line {
      border-right: none;
  }

  .card2 {
      border-top: 1px solid #EEEEEE !important;
      margin: 0px 15px;
  }
}
</style>






</head>
<body>
  <!-- <nav style="margin: 3rem; margin-top: 2rem;" >
    <img src="/assets/images/logo/logo-5.png" alt="">
    <ul>
      <li><a style="color:#fff;" href="/login"  class="btn">login</a></li>
    </ul>
  </nav>

  <div  style='margin: 10rem; background: white; border-radius: 1rem;'>
    <div class="common-block">
        <div  style="font-family: 'Quicksand', sans-serif;" class="inner-title">
          <h2 style="  font-family: 'Quicksand', sans-serif;" >sign Up</h2>
        </div>
        <form>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Your Name</label>
                        <input type="text" class="form-control" name="name" placeholder="name">
                        <div  class="name error"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>user name</label>
                        <input type="mobile"  class="form-control" name="username" placeholder="username">
                        <div  class="username error"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Email Address</label>
                        <input type="email" class="form-control" name="email" placeholder="email" >
                        <div  class="email error"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Contact Number</label>
                        <input type="text" class="form-control" name="mobile" placeholder="+40-123 456 789" >
                        <div  class="mobile error"></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control" name="password" placeholder="Your password here">
                        <div  class="password error"></div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Re-Password</label>
                        <input type="password" class="form-control" name="repassword" required placeholder="Your re-password here">
                        <div  class="repassword error"></div>
                    </div>
                </div>
            </div>
            <button class="btn bg-primary mt-4" type="submit" style="border-radius: 1em; color: white; ">sign up</button>
        </form>
    </div>
</div> -->




<div class="container-fluid px-1 px-md-5 px-lg-1 px-xl-5 py-5 mx-auto">
  <div  style="margin-top: 4rem;" class="card card0 border-0">
      <div class="row d-flex ">
          <div class="col-lg-6">
              <div class="card1 pb-0">
                  <div class="row">
                    
                    
                      <!-- <img src="" class="logo"> -->
                      <img class="pl-4 pt-5 pb-0" src="/assets/images/logo/logo-5.png" alt="">
                  </div>
                  <div class="row px-3 justify-content-center mt-5 pt-5  border-line">
                      <img src="/assets/images/email-template/confirm-email-1.jpg" class="image">
                  </div>
              </div>
          </div>
          <div class="col-lg-6">
              <form >
                <div class="card2 card border-0 px-4 py-5">
                  <!-- <div class="row mb-4 px-3">
                      <h6 class="mb-0 mr-4 mt-2">Sign Up with</h6>
                      <div class="facebook text-center mr-3"><div class="fa fa-facebook"></div></div>
                      <div class="twitter text-center mr-3"><div class="fa fa-twitter"></div></div>
                      <div class="linkedin text-center mr-3"><div class="fa fa-linkedin"></div></div>
                  </div>
                  <div class="row px-3 mb-4">
                      <div class="line"></div>
                      <small class="or text-center">Or</small>
                      <div class="line"></div>
                  </div> -->
                  <div class="row px-3">
                      <label class="mb-1"><h6 class="mb-0 text-sm">Name</h6></label>
                      <input class="mb-4" type="text" name="name" placeholder="Enter a valid email address">
                      <div style="color: red;" class="name error"></div>
                  </div>
                  <div class="row px-3">
                      <label class="mb-1"><h6 class="mb-0 text-sm">User Name</h6></label>
                      <input type="text" name="username"  placeholder="Enter password">
                      <div style="color: red;" class="username error"></div>
                    
                  </div>
                  <div class="row px-3">
                    <label class="mb-1"><h6 class="mb-0 text-sm">Email Address</h6></label>
                    <input class="mb-4" type="text" name="email" placeholder="Enter a valid email address">
                  <div style="color: red;" class="email error"></div>

                </div>
                  <div class="row px-3">
                    <label class="mb-1"><h6 class="mb-0 text-sm">Password</h6></label>
                    <input type="password" name="password" placeholder="Enter password">
                    <div style="color: red;" class="password error"></div>
                </div>
                <div class="row px-3">
                  <label class="mb-1"><h6 class="mb-0 text-sm">Confirm Password</h6></label>
                  <input type="password" name="repassword" placeholder="Confirm password">
                  <div style="color: red;" class="repassword error"></div>
              </div>
                  <div class="row px-3">
                    <label class="mb-1"><h6 class="mb-0 text-sm">Mobile</h6></label>
                    <input type="password" name="mobile" placeholder="Mobile">
                    <div style="color: red;" class="mobile error"></div>
                </div>
                  <div class="row px-3 mb-4">
                      <!-- <div class="custom-control custom-checkbox custom-control-inline">
                          <input id="chk1" type="checkbox" name="chk" class="custom-control-input"> 
                          <label for="chk1" class="custom-control-label text-sm">Remember me</label>
                      </div> -->
                  </div>
                  <div class="row mb-3 px-3">
                    <a  href="/signup"><button type="submit" class="btn btn-blue text-center">Sign Up</button></a>
                  </div>
                  <div class="row mb-1 px-3">
                    <small class="font-weight-bold">dont want to SignUP? <a href="/" class="text-danger ">Home</a></small>
                </div>
                <div class="row  px-3">
                  <small class="font-weight-bold">Already have an account? <a href="/login" class="text-danger ">login</a></small>
              </div>

              
              </div>
              </form>
          </div>
      </div>
      <div class="bg-blue py-4">
          <div class="row px-3">
              <!-- <small class="ml-4 ml-sm-5 mb-2">Copyright &copy; Ekka 2019. All rights reserved.</small> -->
              <div class="social-contact ml-4 ml-sm-auto">
                  <span class="fa fa-facebook mr-4 text-sm"></span>
                  <span class="fa fa-google-plus mr-4 text-sm"></span>
                  <span class="fa fa-linkedin mr-4 text-sm"></span>
                  <span class="fa fa-twitter mr-4 mr-sm-5 text-sm"></span>
              </div>
          </div>
      </div>
  </div>
</div>





<script>
    const form = document.querySelector('form')
    const emailError = document.querySelector('.email.error')
    const passwordError = document.querySelector('.password.error')
    const nameError = document.querySelector('.name.error')
    const usernameError = document.querySelector('.username.error')
    const mobileError = document.querySelector('.mobile.error')
    const repasswordError = document.querySelector('.repassword.error')
    

    form.addEventListener('submit',async (e)=>{
        e.preventDefault();

        //reset to be blank
        emailError.textContent = ''
        passwordError.textContent = ''
        nameError.textContent = ' '
        usernameError.textContent = ' '
        mobileError.textContent = ' '

        //gettin the values from the form\
        const email = form.email.value
        const password =  form.password.value
        const name = form.name.value
        const username = form.username.value
        const mobile = form.mobile.value
        const repassword = form.repassword.value

        

        //making a post request throgh fetch method
        try{
            const reslt = await fetch('/signup',{
                method:'POST',
                body: JSON.stringify({email,password,name,username,repassword,mobile}),
                headers:{'Content-Type':'application/json'}
            })
            console.log("sigu up funtion called ant the ")
            const data = await reslt.json()
            if(data.errors){
                emailError.textContent = data.errors.email;
                passwordError.textContent = data.errors.password;
                nameError.textContent = data.errors.name;
                usernameError.textContent = data.errors.username;
                mobileError.textContent = data.errors.mobile;
            }
            if(data.user){
                location.assign('/')
            }
        }
        catch(err){
            console.log(err)
        }
    })
</script>



</body>
</html>
